*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: rgb(42, 47, 51);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    overflow: hidden;
    position: relative;
    height: 100vh;
    width:100vw;
}
.section >*{
    background-size: cover;
    transition:600ms ease-out ;
    width: 100%;
    height: 100%;
    position: absolute;
}
#right ,#left{
    position:absolute ;
    width: 20%;
    height: 100%;
    bottom:0;
    background-color: transparent;
    font-size: 1.5em;
    border :0 ;
    color: rgb(153, 152, 152);
    z-index: 900;
}
#left{
    text-align:start;
    padding-left:50px ;
    left:0px ;
    border-radius: 0 50% 50% 0  ;
}
#right{  
    text-align:end;
    padding-right:50px ;
    right:0px ;
    border-radius:  50% 0 0 50%   ;
    
}
.minislider{
    width:100% ;
    height:25% ;
    position: absolute;
    z-index:1000000 ;
    bottom:20px ;
    display: flex;
    padding :10px 15px ;
}
.minislider >*{
    margin-right: 10px;
    flex-shrink: 0;
    height: 80%;
    background-size:cover ;
    transition: 350ms ease-out ;
}
